.nav-item a {
  text-decoration: none !important;
}


.navbar-vertical .dropdown-menu {
  position: relative !important;
  width: 100% !important;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding-left: 1.5rem;
  margin-top: 0.25rem;
}

.navbar-vertical .dropdown-menu.show a:hover {
    /*border-bottom: 1px solid red;*/
    @apply inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out;
}

.navbar-vertical .dropdown-item {
  padding: .45rem 0;
  color: inherit;
}

.navbar-vertical .dropdown-item:hover {
  background: transparent;
  opacity: .85;
}

[data-bs-theme="dark"] .navbar-vertical .dropdown-item:hover {
  background: transparent;
  opacity: .85;
}

[data-bs-theme="dark"] .navbar-vertical .dropdown-item.active {
  font-weight: 600;
  color: #fff;
}

[data-bs-theme="dark"] .logo-img {
  filter: brightness(0) invert(1);
}

.navbar-vertical .nav-link {
  color: #adb5bd !important;
}
